.background{
    background: linear-gradient(to right , rgb(6, 160, 177),rgb(23, 67, 67));
}
.card-title{
    font-size: 0.9rem ;
    height: 120px;
    border-bottom: 4px solid dimgray;
}
.source{
   display: flex; 
   justify-content: space-between;
}
.source p{
    font-size: 0.7rem;
}
.card-text{
    font-size: 0.9rem;
    height: 250px;
}
@media only screen and (min-width:992px) and (max-width:1200px){
    .card-title{
        height: 100px
    }
    .card-text{
        height: 200px
    }
}

@media only screen and (min-width:768px)and(max-width:992px){
    .card-title{
        height: 80px
    }
    .card-text{
        height: 180px
    }
}
@media only screen and (min-width:0px) and (max-width:767px){
    .card-title{
        height: 100px
    }
    .card-text{
        height: 150px
    }
}
